.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.whole-app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
}
.outline-button {
  padding: 1.5px;
  padding-left: 8px;
  padding-right: 8px;
  border: 3px solid transparent;
  border-radius: 8px;
  background: linear-gradient(to right, white, white),
    linear-gradient(to right, rgba(22, 156, 121), rgba(32, 201, 154));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  align-items: center;
  text-align: center;
}
.outline-button p {
  color: transparent;
  margin: 0px;
  padding: 0px;
  margin-top: -1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-image: linear-gradient(
    to right,
    rgba(22, 156, 121),
    rgba(32, 201, 154)
  );
  /* background-size: 100%; */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.signup {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: linear-gradient(
    rgba(192, 231, 236, 1),
    rgba(192, 231, 236, 0.2) 50%,
    rgba(192, 231, 236, 0.35) 80%,
    rgba(192, 231, 236, 1)
  );
  display: flex;
  flex-direction: row;
}
.Auth-left {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Auth-right {
  height: 100%;
  width: 45%;
  background-color: white;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Auth-gif {
  width: 70%;
}
.Auth-data-box {
  width: 500px;
  height: 520px;
}
.Auth-heading {
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-top: -20px;
}
.Auth-link {
  text-decoration: none;
  color: #1ebf92;
}
.form-inputs input {
  padding: 13.5px;
  border-radius: 8px;
}
.form-inputs label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.form-inputs ::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: white;
}
.form-checkbox label,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.form-button {
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(22, 156, 121),
    rgba(32, 201, 154)
  );
  border-width: 0px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.navbar-layout {
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.navbar-layout p {
  padding: 0px;
  margin: 7px;
}
.navbar-left {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.navbar-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.Home {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Home-layout {
  display: flex;
  flex-direction: row;
  flex-grow: 50;
}
.Home-left {
  /* border: 2px solid black; */
  height: 100%;
  width: 75%;
  overflow: auto;
}
/* .Home-left::-webkit-scrollbar {
  display: none;
} */
.semester-detail {
  width: 100%;
  height: 100%;
  padding: 100px;
  padding-top: 40px;
}
.semester-detail p {
  padding-bottom: 20px;
}
.project-item {
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  width: 100%;
  height: 25%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  display: flex;
  /* justify-content: left; */
  text-align: left;
}
.project-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.project-card-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}
.project-card-info-bottom {
  margin-top: 30px;
  display: flex;
  margin-left: -16px;
}
.project-card-info-bottom h6 {
  margin: 0px;
  padding: 0px;
  margin-right: 16px;
  margin-left: 16px;
}
.v {
  /* border-left: 0.1px solid black; */
  height: 85%;
  align-self: center;
  justify-self: center;
  padding: 0px;
  margin: 0px;
  border-width: 0.5px;
}
.project-card-about {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-right {
  /* border: 2px solid black; */
  padding: 15px;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.carousel {
  width: 100%;
  height: 250px;
  position: relative;
}
.carousel-item {
  position: relative;
  height: 250px;
}
.carousel-img {
  /* filter: blur(2px); */
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid rgba(241, 241, 241, 1);
  position: absolute;
  top: 30%;
  transform: translate(9%, 0%);
  z-index: 2;
  height: 40%;
  width: 60%;
  margin: 0px;
  align-items: center;
  align-content: center;
  text-align: center;
}
.carousel-caption h2 {
  margin: 0px;
  margin-top: -4px;
  margin-bottom: 1px;
  padding: 0px;
}
.carousel-caption p {
  margin: 0px;
  padding: 0px;
}
.add-semester-btn-container {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 15px;
  padding-right: 0px;
}
